.homeImage {
    //transform: rotateX(90 deg);
    //background-size: cover;
    height: 1000px;
    width: 1000px;
    object-fit:cover;
    background-image: url("/src/assets/images");
    //transform: rotateY(90 deg);
}